services:
  # Mysql database container
  db:
    image: mysql
    container_name: db
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: grem
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - grem

  # phpmyadmin container
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - 8080:80
    environment:
      PMA_HOST: db
    networks:
      - grem

  # Symfony apache project container
  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    container_name: backend
    environment:
      APP_ENV: prod
      DATABASE_URL: "mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/grem?serverVersion=8.0"
      BACKEND_URL: "http://ec2-15-236-109-182.eu-west-3.compute.amazonaws.com:8001"
      FRONTEND_URL: "http://ec2-15-236-109-182.eu-west-3.compute.amazonaws.com"
    depends_on:
      - db
    ports:
      - "8001:80"
    volumes:
      - ./docker/backend/vhosts:/etc/apache2/sites-enabled
      - ./backend:/var/www
      - ./docker/backend/entrypoint.sh:/entrypoint.sh
    restart: always
    networks:
      - grem
    command: [ "/bin/bash", "/entrypoint.sh" ]


  # React / Next.js frontend container
  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    container_name: frontend
    ports:
      - "80:3001"
    networks:
      - grem
    depends_on:
      - backend

networks:
  grem:

volumes:
  db-data:
