services:
  # Mysql database container
  db:
    image: mysql
    container_name: grem_db_symfony
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_DATABASE: grem
    networks:
      - grem

  # phpmyadmin container
  phpmyadmin:
    image: phpmyadmin
    container_name: grem_phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - 8080:80
    environment:
      PMA_HOST: db
    networks:
      - grem

  # Symfony apache project container
  www:
    build: docker/backend
    container_name: grem_symfony
    ports:
      - "80:80"
#    volumes:
#      - ./docker/backend/vhosts:/etc/apache2/sites-enabled
#      - ./:/var/www
    restart: always
    networks:
      - grem


  # React / Next.js frontend container
  frontend:
    build: docker/frontend
    container_name: grem_frontend
    ports:
      - "3000:3000"
#    volumes:
#      - ./frontend:/app
    networks:
      - grem
    depends_on:
      - www

networks:
  grem:

volumes:
  db-data: